<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<form action="/signup/step/1" method="post">
    아이디 : <input type="text" id="id" name="id" class="border"/>
    비밀번호 : <input type="text" id="pw" name="pw" class="border"/>
    이메일 : <input type="text" id="email" name="email" class="border"/>
    <button>제출</button>
</form>

</body>
</html>